name: Build Citizen X
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --user --upgrade buildozer cython virtualenv
      - name: Build APK
        run: |
          export PATH=$PATH:$HOME/.local/bin
          buildozer -v android debug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CITIZEN_X_Debug_APK
          path: bin/*.apk
          
