name: Build Citizen X
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git zip unzip autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libncursesw5-dev libtinfo6 cmake libffi-dev libssl-dev \
          libsqlite3-dev libbz2-dev libreadline-dev libgdbm-dev liblzma-dev uuid-dev

      - name: Buildozer Install
        run: |
          pip install --user --upgrade buildozer cython virtualenv
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Build
        run: |
          # Kill any lingering SDK environment vars that cause bricking
          unset ANDROID_SDK_ROOT
          unset ANDROID_HOME
          buildozer -v android debug
        env:
          BUILDOZER_ALLOW_ORG_NAME_AS_PACKAGE_NAME: 1

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CITIZEN_X_Binary
          path: bin/*.apk
          
