name: Android Build 13579
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python_version: '3.11'
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git python3-dev openjdk-17-jdk unzip zip libffi-dev libssl-dev libsqlite3-dev
          pip install buildozer cython==0.29.33
      - name: Build APK
        run: |
          yes | buildozer android debug
      - uses: actions/upload-artifact@v4
        with:
          name: CITIZEN_X_APK
          path: bin/*.apk
          
